[Unit]
Description=DRM color temperature (nebula-drm)
Documentation=https://github.com/rmarquis/nebula-drm
Before=greetd.service
After=systemd-udev-settle.service

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/nebula-drm.conf
ExecStart=/usr/bin/nebula-drm -l ${NEBULA_LOCATION} -t ${NEBULA_TEMP} -b ${NEBULA_BRIGHTNESS} ${NEBULA_CARD} -v
# Needs DRM master, which requires root at boot before any session exists
User=root
# Sandbox
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
DeviceAllow=char-drm rw
DevicePolicy=closed

[Install]
WantedBy=graphical.target
